        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Segoe UI', sans-serif;
            background-color: #eee;
        }

        .main {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .content {
            text-align: left;
            font-size: 18px;
            color: #333;
        }
        .logo {
            font-size: 34px;
            font-family: 'Cantarell';
            font-weight: bold;
            color: #9966CC;
        }
        footer {
            text-align: center;
            color: #aaa;
            font-size: 18px;
            font-family: 'Cantarell';
        }
        hr {
            border: 1px solid #ccc;
        }
        .c {
            color: #aaa;
        }
        .a-footer {
            color: #aaa;
        }
